* {
box-sizing: border-box;
}

body {
letter-spacing: 0.1em;
font-family: sans-serif;
margin: 0;
}

h1 {
font-size: 3em;
color: lightgreen;
text-shadow: 4px 2px 13px dodgerblue;

}

header{
text-align: center;
height: 450px;
background-image: url(../images/treehouse.jpg);
background-size: cover;
background-repeat: no-repeat;
}

footer{
padding: 30px;
color: white;
background-color: dodgerblue;
text-align: center;
}

h2 {
text-align: center;
color: orange	;
}

p{
padding: 35px;

}

.container {
width: 70%;
margin: 0 auto;
}

.sticky-footer {
min-height: calc(100vh - 78px)
}

.home {
text-align:center;

}



